body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    background-color: lightskyblue;
    color: black;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 6em;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 3em;
    opacity: .6;
}

p {
    font-size: 1.5em;
}

#buttonWrapper {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

#button {
    padding: 15px;
    margin: 20px auto;
    cursor: pointer;
    background-color: dodgerblue;
    border: 2px solid darkblue;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 1em;

    opacity: .5;

    transition: .25s ease-in-out;
}

#button:hover {
    opacity: 1.0;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 5px;
}