/*DEBUG*/
/** {
  border: solid 1px red;
}*/


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: .03em;
  background-color: #2C2F33;
}

.navbar {
  width: 100%;
  height: 200px;
  background: repeat url(assets/pattern.png);

  display: flex;
  justify-content: space-between;
}

.navpos {
  margin: 40px;
}

a { /*Fixes weird a code?*/
  width: 0%;
}

#status {
  position: absolute;
  right: 40px;
  top: 110px;
  text-align: right;
  font-size: 20px;
  color: #6ede6f;
}

#logo p {
  color: #A7B9F9;
  margin-left: 150px;
  margin-top: -40px;
}

#get {
  margin-top: 60px; /*Calculated!*/
  background-color: white;
  text-align: center;
  font-weight: 400;
  color: #A7B9F9;
  width: 300px;
  height: 20px;
  padding: 20px;
  border-radius: 6px;
  transition: box-shadow .5s;
  float: right;
}

#get:hover {
  box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.3);
}

.content {
  margin-top: 150px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.msgbox {
  background-color: white;
  border-radius: 8px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  transition: box-shadow .5s;
}

.msgbox:hover {
  box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.85);
}

code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

.codes {
  font-size: 20px;
  opacity: .5;
  margin-top: -30px;
}

.mid {
  margin: 0 20px;
  padding: 5px 20px 10px 20px;
}

#upvote {
  border: 4px solid #4CD964;
}

#downvote {
  border: 4px solid #FF3B30;
}

#or {
  font-weight: bold;
  font-size: 50px;
  margin-top: 40px;
  opacity: .75;
}

#cmd {
  margin: auto;
  width: 50%;
  padding: 20px;
}

#cmd p {
  font-weight: 400;
  font-size: 20px;
  margin: auto;
  opacity: .5;
  padding-bottom: 15px;
}

#cmd img {
  margin: auto;
}

#cmd code {
  font-size: 50px;
}

#credit {
  width: 100%;
  height: 50px;
  bottom: 0;
  margin: 20px 0;
  opacity: .5;
  text-align: center;
}

#credit a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
